{%extends "homepage.html" %}

{% block titulo %}
CONTRATO | Venda + Agromarket
{% endblock %}

{% block body %}

{% include "navbar.html" %}

<div class="container-sobre">
    <div class="equipe">
        <div class="texto-equipe">
            <h2>Contrato</h2>
            <p align="center">
                Aqui você pode adicionar detalhes sobre o contrato e a equipe. Este texto pode conter informações
                relevantes, como as condições do contrato, responsabilidades da equipe e demais informações
                pertinentes.
            </p>
        </div>
        </div>
</div>


{% include "footer.html" %}

{% endblock %}

