<header>
    <nav>
        <div class="navbar-container">
            <!-- Logo -->
            <a href="{{ url_for('homepage') }}" class="logo-vendamais">
                <img src="{{ url_for('static', filename='fotos_site/logo.png') }}" alt="Venda + Agromarket" width="264" height="76">
            </a>

            <!-- Pesquisa no centro -->
            <div class="search-container">
    <div class="search">
        <input type="text" placeholder="Buscar produtos, marcas, e muito mais..." style="width: 300px; height: 10px; padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
    </div>
</div>

        <!-- Linha de CEP e links de navegação -->
        <div class="navbar-bottom">
            <div class="local">
    <div class="container">
        <img src="{{ url_for('static', filename='fotos_site/local.svg') }}" alt="" width="15" height="15">
    </div>

    <div class="container">
        <button id="cep-button">Informe seu CEP</button>
    </div>
</div>

            <div class="nav-links">
                <a href="{{ url_for('homepage') }}">Início</a>

                <a href="{{ url_for('feed') }}">Feed</a>

                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('perfil', id_usuario=current_user.id) }}">Meu Perfil</a>
                   <a href="{{ url_for('produtos', id_usuario=current_user.id) }}"> Meus Produtos</a>
                    <a href="{{ url_for('carrinho') }}">Carrinho</a>
                    <a href="{{ url_for('logout') }}">Sair</a>
                {% else %}
                    <a href="{{ url_for('criarconta') }}">Criar Conta</a>
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Modal de CEP -->
    <div id="cep-modal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Informe seu CEP</h2>
        <input type="text" id="cep-input" placeholder="Digite seu CEP">
        <button id="submit-cep">Enviar</button>
    </div>
</div>
</header>
