<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    <title>
      {% block titulo %}
        NEWSLETTER | Venda + Agromarket
      {% endblock %}
    </title>
</head>

<body class="overflow-hidden">
    <div class="container">
        <header>
            {% include "navbar.html" %}
        </header>

        <main>
            <img src="{{ url_for('static', filename='fotos_site/fundo-login.png') }}" class="bg-imagem-vendamais" />

            <div class="container-popup">
                <form method="POST" class="popup-first">
                    {{ form.csrf_token }}
                    <h2 align="center">Cadastre-se e receba nossas novidades</h2>

                    <div>
                        <label for="email"></label>
                        {{ form.email(id='email', size=38) }}
                    </div>

                    <div class="div-botao">
                        <button type="submit" class="botao-newsletter">Inscrever-se</button>
                        <a href="{{ url_for('homepage') }}" class="link-sair">Fechar</a>
                    </div>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class="flash-messages">
                                {% for category, message in messages %}
                                    <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </form>

                <!-- Botão para voltar para a homepage -->
                <a href="{{ url_for('homepage') }}" class="btn btn-home">Voltar para Home</a>
            </div>
        </main>
    </div>
</body>
</html>
