{% extends "homepage.html" %}

{% block titulo %}
PERFIL | {{ usuario.username }} | VendaMaisAgromarket
{% endblock %}

{% block body %}
{% include "navbar.html" %}

{% if form %}
<div class="container">
    <!-- Linha separadora e título -->
    <div class="separator-container">
        <h2 class="separator-title">{{ usuario.username }}, você está logado.</h2>
        <hr class="separator-line" />
    </div>

    <!-- Botões em destaque -->
    <div class="button-container">
        <a class="botao-novo-produto" href="#" data-toggle="modal" data-target="#novoProdutoModal">Cadastrar Novo Produto</a>
        <!-- Botão para abrir o modal de editar -->
        <a class="botao-novo-produto" href="#" data-toggle="modal" data-target="#editarProdutosModal">Editar Produtos</a>
    </div>

    <!-- Modal para editar produtos -->
    <div class="modal fade" id="editarProdutosModal" tabindex="-1" role="dialog" aria-labelledby="editarProdutosModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarProdutosModalLabel">Editar Produtos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulário para editar produtos -->
                    {% for produto in usuario.produtos %}
                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('editar_produto', produto_id=produto.id) }}">
                        {{ form.hidden_tag() }}
                        <div>
                            {{ form.titulo.label }} {{ form.titulo(value=produto.titulo, size=30) }}
                        </div>
                        <div>
                            {{ form.descricao.label }} {{ form.descricao(value=produto.descricao, rows=3, cols=30) }}
                        </div>
                        <div>
                            {{ form.preco.label }} {{ form.preco(value=produto.preco) }}
                        </div>
                        <div>
                            {{ form.preco_minimo.label }} {{ form.preco_minimo(value=produto.preco_minimo) }}
                        </div>
                        <div>
                            {{ form.quantidade.label }} {{ form.quantidade(value=produto.quantidade) }}
                        </div>
                        <div class="bloco-arquivo">
                            <label for="imagem" class="botão-arquivo">
                                Enviar Imagem:
                                {{ form.imagem(class="input-arquivo", id="imagem") }}
                            </label>
                            <span id="imagem-arquivo" class=""></span>
                        </div>
                        {{ form.submit(class="btn btn-success") }}
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para cadastrar novo produto -->
    <div class="modal fade" id="novoProdutoModal" tabindex="-1" role="dialog" aria-labelledby="novoProdutoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="novoProdutoModalLabel">Cadastrar Novo Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="bloco-add-img" method="POST" enctype="multipart/form-data" action="{{ url_for('perfil', id_usuario=usuario.id) }}">
                        {{ form.hidden_tag() }}
                        <div>
                            {{ form.titulo.label }} {{ form.titulo(size=30) }}
                        </div>
                        <div>
                            {{ form.descricao.label }} {{ form.descricao(rows=3, cols=30) }}
                        </div>
                        <div>
                            {{ form.preco.label }} {{ form.preco() }}
                        </div>
                        <div>
                            {{ form.preco_minimo.label }} {{ form.preco_minimo() }}
                        </div>
                        <div>
                            {{ form.quantidade.label }} {{ form.quantidade() }}
                        </div>
                        <div class="bloco-arquivo">
                            <label for="imagem" class="botão-arquivo">
                                Enviar Imagem:
                                {{ form.imagem(class="input-arquivo", id="imagem") }}
                            </label>
                            <span id="imagem-arquivo" class=""></span>
                        </div>
                        {{ form.submit(class="botao-login") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="bloco-add-img">
    <h2>{{ usuario.username }} - Ver Perfil</h2>
</div>
{% endif %}

<!-- Barra de navegação do perfil com novos estilos -->
    <div class="nav-links-perfil">
        {% if current_user.is_authenticated %}
            <a class="botao-perfil" href="{{ url_for('perfil', id_usuario=current_user.id) }}">Meu Perfil</a>
            <a class="botao-perfil" href="{{ url_for('carteira', id_usuario=current_user.id) }}">Carteira</a>
            <a class="botao-perfil" href="{{ url_for('produtos', id_usuario=current_user.id) }}">Meus Produtos</a>
            <a class="botao-perfil" href="{{ url_for('compras', id_usuario=current_user.id) }}">Minhas Compras</a>
            <a class="botao-perfil" href="{{ url_for('vendas', id_usuario=current_user.id) }}">Minhas Vendas</a>
        {% endif %}
    </div>


<div class="conteudo">
    {% for produto in usuario.produtos %}
        <div class="bloco-imagem">
            <h3>{{ produto.titulo }}</h3>
            <img src="{{ url_for('static', filename='fotos_posts/{}'.format(produto.imagem)) }}" alt="Foto de {{ produto.titulo }}" />
            <p>{{ produto.descricao }}</p>
            <p>Preço: {{ produto.preco }}</p>
            <p>Quantidade: {{ produto.quantidade }}</p>
        </div>
    {% endfor %}
</div>

{% for mensagem in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ mensagem[0] }}">
        {{ mensagem[1] }}
    </div>


{% endfor %}

{% include "footer.html" %}
{% endblock %}
