{% extends "homepage.html" %}

{% block titulo %}
SOBRE | VendaMaisAgromarket
{% endblock %}

{% block body %}
{% include "navbar.html" %}

<div class="container-sobre">
    <div class="equipe">
        <div class="texto-equipe">
            <h2>Nossa Equipe</h2>
            <p aling="center">
                Somos uma equipe dedicada e apaixonada, comprometida com o desenvolvimento de soluções para facilitar
                a comercialização de produtos do agronegócio. Cada membro traz uma experiência única em áreas como
                tecnologia, gestão de projetos, e-commerce e sustentabilidade. Juntos, trabalhamos para tornar o
                VendaMaisAgromarket uma plataforma confiável e acessível.
            </p>
        </div>
        <div class="imagem-equipe">
    <img src="{{ url_for('static', filename='fotos_site/Equipe1.jpeg') }}" alt="Nossa equipe" width="50" height="auto" style="border-radius: 8px; margin-bottom: 10px;">
    <img src="{{ url_for('static', filename='fotos_site/Equipe2.jpeg') }}" alt="Nossa equipe" width="50" height="auto" style="border-radius: 8px;">
</div>

    </div>
</div>

{% include "footer.html" %}
{% endblock %}
